@import 'semantic';
//@import 'add-to-homescreen';
@import 'weather';
/* My Styles */

#cheney i{
    
    color:aquamarine;
    text-shadow: 2px 2px 10px;

}


/*Custom Background*/

.bg-1{
   background:red;
   transition: background 1s;

}